In [24]:
import pandas as pd 
import numpy as np
data =pd.read_csv("cs_data.csv",
                 header=0,
                 index_col=0)

In [25]:
data.head()
#SeriousDlqin2yrs / RevolvingUtilizationOfUnsecuredLines /age /NumberOfTime30-59DaysPastDueNotWorse/
#DebtRatio/MonthlyIncome/NumberOfOpenCreditLinesAndLoans/NumberOfTimes90DaysLate/NumberRealEstateLoansOrLines/
#NumberOfTime60-89DaysPastDueNotWorse/NumberOfDependents

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [26]:
print(data.count())
print(data.isnull().sum())

SeriousDlqin2yrs                        150000
RevolvingUtilizationOfUnsecuredLines    150000
age                                     150000
NumberOfTime30-59DaysPastDueNotWorse    150000
DebtRatio                               150000
MonthlyIncome                           120269
NumberOfOpenCreditLinesAndLoans         150000
NumberOfTimes90DaysLate                 150000
NumberRealEstateLoansOrLines            150000
NumberOfTime60-89DaysPastDueNotWorse    150000
NumberOfDependents                      146076
dtype: int64
SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [27]:
data.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [28]:
# NA를 전부 없앤 값 = datap
data.dropna(inplace=True)
data.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [29]:
# drop na
data.isnull().sum()
data.shape

(120269, 11)

In [30]:
# drop the columns 'NumberOfTime30-59DaysPastDueNotWorse','NumberOfTimes90DaysLate'
data1 = data.drop(columns=['NumberOfTime30-59DaysPastDueNotWorse','NumberOfTimes90DaysLate'])
data1.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,0.802982,9120.0,13,6,0,2.0
2,0,0.957151,40,0.121876,2600.0,4,0,0,1.0
3,0,0.658180,38,0.085113,3042.0,2,0,0,0.0
4,0,0.233810,30,0.036050,3300.0,5,0,0,0.0
5,0,0.907239,49,0.024926,63588.0,7,1,0,0.0

In [31]:
# drop the columns 'NumberOfTime30-59DaysPastDueNotWorse','NumberOfTimes90DaysLate,NumberOfOpenCreditLinesAndLoans'
data2 = data.drop(columns=['NumberOfTime30-59DaysPastDueNotWorse','NumberOfTimes90DaysLate','NumberOfOpenCreditLinesAndLoans'])
data2.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,0.802982,9120.0,6,0,2.0
2,0,0.957151,40,0.121876,2600.0,0,0,1.0
3,0,0.658180,38,0.085113,3042.0,0,0,0.0
4,0,0.233810,30,0.036050,3300.0,0,0,0.0
5,0,0.907239,49,0.024926,63588.0,1,0,0.0

In [32]:
# drop the columns 'NumberOfTime30-59DaysPastDueNotWorse','NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines'
data3 = data.drop(columns=['NumberOfTime30-59DaysPastDueNotWorse','NumberOfTimes90DaysLate','NumberRealEstateLoansOrLines'])
data3.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,0.802982,9120.0,13,0,2.0
2,0,0.957151,40,0.121876,2600.0,4,0,1.0
3,0,0.658180,38,0.085113,3042.0,2,0,0.0
4,0,0.233810,30,0.036050,3300.0,5,0,0.0
5,0,0.907239,49,0.024926,63588.0,7,0,0.0

In [33]:
data

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149995,0,0.385742,50,0,0.404293,3400.0,7,0,0,0,0.0
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [34]:
data.shape, data1.shape, data2.shape, data3.shape  
# NA remove,  past 90days/30~59 in 2 years  , past 90days/30~59 in 2 years/realesitamte ,   past 90days/30~59 in 2 years/credit loan

((120269, 11), (120269, 9), (120269, 8), (120269, 8))

In [35]:
######################### data 로 dataset 구분 
X= data.drop(columns='SeriousDlqin2yrs')
y= data['SeriousDlqin2yrs']
X.shape , y.shape

((120269, 10), (120269,))

In [36]:
# 1.dataset 구분
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size =0.2, stratify=y ,random_state=0) 
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, stratify=y_train, random_state=0)

In [37]:
# 2. scaling
from sklearn.preprocessing import StandardScaler, MinMaxScaler
sc= StandardScaler()
X_train_scaled1=sc.fit_transform(X_train)
X_val_scaled1=sc.transform(X_val)
X_test_scaled1=sc.transform(X_test)


mn = MinMaxScaler()
X_train_scaled2 =mn.fit_transform(X_train)
X_val_scaled2 =mn.transform(X_val)
X_test_scaled2=mn.transform(X_test)

In [38]:
print(X_train_scaled1, "###", X_train_scaled2 )
print(np.max(X_train_scaled2 ,axis =0))
print(np.min(X_train_scaled2, axis =0))

[[-0.02215501  0.60566008 -0.10907081 ...  0.81559142 -0.05490252
   0.12505017]
 [-0.02117545 -1.26756996 -0.10907081 ... -0.90990031 -0.05490252
   0.12505017]
 [-0.01926242 -1.82260108 -0.10907081 ... -0.90990031 -0.05490252
  -0.74264675]
 ...
 [-0.0206907  -0.64315994 -0.10907081 ... -0.04715444 -0.05490252
  -0.74264675]
 [-0.02179682  0.81379675 -0.10907081 ... -0.04715444 -0.05490252
   0.9927471 ]
 [-0.02161316  0.05062896 -0.10907081 ... -0.04715444 -0.05490252
  -0.74264675]] ### [[3.87881478e-07 5.82524272e-01 0.00000000e+00 ... 3.70370370e-02
  0.00000000e+00 5.00000000e-02]
 [5.97025030e-06 3.20388350e-01 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 5.00000000e-02]
 [1.68724645e-05 2.42718447e-01 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [8.73278944e-06 4.07766990e-01 0.00000000e+00 ... 1.85185185e-02
  0.00000000e+00 0.00000000e+00]
 [2.42915086e-06 6.11650485e-01 0.00000000e+00 ... 1.85185185e-02
  0.00000000e+00 1.00000000e-01]
 [3.47581804e-06 5.04854369e-01 0.00000000e+00 ... 1.85185185e-02
  0.00000000e+00 0.00000000e+00]]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [46]:
# training 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import roc_curve, plot_roc_curve, roc_auc_score

knn =KNeighborsClassifier()
tree=DecisionTreeClassifier(random_state=0)
rf=RandomForestClassifier(random_state=0)
svc= SVC(random_state=0, probability =True)

In [47]:
knn.fit(X_train_scaled1,y_train)
tree.fit(X_train_scaled1,y_train)
rf.fit(X_train_scaled1,y_train)
svc.fit(X_train_scaled1,y_train)

SVC(probability=True, random_state=0)

In [53]:
prob_knn_val=knn.predict_proba(X_val_scaled1)[:,1]
prob_tree_val= tree.predict_proba(X_val_scaled1)[:,1]
prob_rf_val=rf.predict_proba(X_val_scaled1)[:,1]
prob_svc_val=svc.predict_proba(X_val_scaled1)[:,1]

In [54]:
y_val.shape , prob_knn_val.shape

((19243,), (19243,))

In [55]:
roc_auc_score(y_val, prob_knn_val), roc_auc_score(y_val,prob_tree_val), roc_auc_score(y_val,prob_rf_val), roc_auc_score(y_val, prob_svc_val)

(0.6999108449752681,
 0.5981121724260852,
 0.8389143220379409,
 0.6346719146049915)

In [56]:
knn.fit(X_train_scaled2,y_train)
tree.fit(X_train_scaled2,y_train)
rf.fit(X_train_scaled2,y_train)
svc.fit(X_train_scaled2,y_train)

SVC(probability=True, random_state=0)

In [57]:
prob_knn_val2=knn.predict_proba(X_val_scaled2)[:,1]
prob_tree_val2= tree.predict_proba(X_val_scaled2)[:,1]
prob_rf_val2=rf.predict_proba(X_val_scaled2)[:,1]
prob_svc_val2=svc.predict_proba(X_val_scaled2)[:,1]

In [58]:
roc_auc_score(y_val, prob_knn_val2), roc_auc_score(y_val,prob_tree_val2), roc_auc_score(y_val,prob_rf_val2), roc_auc_score(y_val, prob_svc_val2)

(0.6643361563808541,
 0.6108506393523028,
 0.8393583845697647,
 0.6095620184223086)

In [ ]:
# 기본으로 했을 때 standard scaling이 더 잘나옴